.container {
    margin-left: 25px;
    margin-bottom: 50px;
}

.name,
.hp,
.pic {
    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 0px 2px 0px 2px;
}

.name,
.hp {
    font-weight: bold;
}

.name {
    border-top: solid black 2px;
}

.hp {
    border-bottom: solid black 2px;
}

button {
    margin-top: 20px;
}

.col-3 {
    min-height: 250px;
    min-width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}